<h1>新規投稿</h1>

<%= form_with model: @tweet do |f| %>
    <%= f.label :body,"ツイート" %>
    <%= f.text_field :body %>
    <%= f.label :img %><br />
    <%= f.file_field :img %>
    <%= f.submit '投稿する' %>
<% end %>