<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>

<body>
  <h1>Tweet Details</h1>
  <p><span>email: </span><%= @user.email %></p>
  <p><span>tweet: </span><%= @tweet.body %></p>

  <h2>All Comments</h2>
  <% @tweet.comments.each do |comment| %>
    <p><span>comment: </span><%= comment.content %></p>
    <%= link_to 'edit' , edit_tweet_comment_path(@tweet, comment.id)%>
    <%= link_to 'delete', [comment.tweet, comment], method: :delete, data: { confirm: "You sure?" } %>
  <% end %>

  <%= form_with(model:[@tweet, @comment]) do |f| %>
    <%= f.text_field :content %>
    <br>
    <%= f.submit 'コメントする' %>
    <%= flash[:success] %>
  <% end %>

<%= link_to "Back To Home", tweets_path %>
</body>