<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>

<body>
  <h1>My Page</h1>

  <hr>
  <p><span>email: </span><%= @user.email %></p><p>

  <%=link_to "Following", follows_user_path(@user.id) %></p>
  <p><%=link_to "Followers", followers_user_path(@user.id) %></p>
  <% if current_user != @user %>
      <% if @user.followed_by?(current_user) %>
          <p><%=link_to "Followed", user_relationships_path(@user.id), method: :delete %></p>
      <% else %>
          <p><%=link_to "Following", user_relationships_path(@user.id), method: :post %></p>
      <% end %>
  <% end %>

  <% @tweets.each do |tweet| %>
    <hr>
    <p><span>Tweet: </span><%=link_to tweet.body, tweet_path(tweet.id) %></p>
    <% if current_user == @user %>
    <%= link_to "Edit", edit_tweet_path(tweet[:id]) %>
    <%= link_to "Delete", tweet, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>

  <% @favorite_tweets.each do |tweet| %>
    <hr>
    <p><span>FavoriteTweet: </span><%=link_to tweet.body, tweet_path(tweet.id) %></p>
  <% end %>
</body>

<%= link_to "Back To Home", tweets_path %>