<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>

<body>
  <u><h1> My Page </h1></u>

  <hr>
    <p><span>メール: </span><%= @user.email %></p>
    <p><span>名前: </span><%= @user.name %></p>

  <p><%=link_to "フォロー済", follows_user_path(@user.id) %></p>
  <p><%=link_to "フォロワー", followers_user_path(@user.id) %></p>

  <hr>
  <u><h2> Tweet </h1></u>
  <% @tweets.each do |tweet| %>
    <p><span>Tweet: </span><%=link_to tweet.body, tweet_path(tweet.id) %></p>
    <% if tweet.img? %>
      <%= image_tag tweet.img.url %>
    <% else %>
      <img src="/assets/default.png" class="icon" alt="ユーザーアイコン" %>
    <% end %>
    <br>
    <% if current_user == @user %>
    <%= link_to "修正", edit_tweet_path(tweet[:id]) %>
    <%= link_to "削除", tweet, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
    <% end %>
    <hr>
  <% end %>

  <u><h2>Favorite Tweet </h2></u>
  <% @favorite_tweets.each do |tweet| %>
    <p><span>お気に入りしたツイート: </span><%=link_to tweet.body, tweet_path(tweet.id) %></p>
  <% end %>
  <hr>
</body>

<%= link_to "一覧へ", tweets_path %>