<!DOCTYPE html>
<html>
  <head>
    <title>TweetCat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <%= favicon_link_tag('favicon.png') %>

  </head>

  <body>
    <header class = "page-header wrapper">
      <nav>
        <ul class = "main-nav">
          <% if user_signed_in? %>
            <li><%= link_to "New", new_tweet_path %></li>
            <li><%= link_to 'Change Profile', edit_user_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "My Page", user_path(current_user.id) %></li>
            <li><%= link_to "All Users", users_path %></li>
          <% else %>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <% end %>
            <li><%= link_to "All Tweets", tweets_path %></li>
        </ul>
      </nav>
    </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>